
// mobile
@media (max-width : 414px){
    .wrapper{
        width: 100%;
    }
    .header{
        border-bottom: none;
        .header__left{
            &-menu{
                display: none;
            }

        }
        .header__right{
            &-avatar{
                width: 30px;
                height: 30px;
                margin-top: 33px;
            }
        }
    }
    .product{
        margin-top: 0;
        
    }
}





// Desktop
@media (min-width:415px) and (max-width: 1440px){
    .header{
        .mobile-menu-icon{
            display: none;
        }
    }
}