
// mobile
@media (max-width : 414px){
    .wrapper{
        width: 100% !important;
    }
    .header{
        width: 100%;
        border-bottom: none;
        .header__left{
            &-menu{
                display: none;
            }
        }
        .header__right{
            &-avatar{
                width: 30px;
                height: 30px;
                margin-top: 33px;
            }
            .header__cart{
                transform: translateX(52px);
            }
        }
    }
    .product{
        display: block;
        m
        &-img{
            margin-right:0px;
            &-main{
                width: 100%;
                img{
                    border-radius: 0 ;
                }
            }
            &-sub{
                width: 100%;
                display: none;
            }
        }
    }
}





// Desktop
@media (min-width:415px) and (max-width: 1440px){
    .header{
        .mobile-menu-icon{
            display: none;
        }
    }
}