
// mobile
@media (max-width : 414px){
    .wrapper{
        width: 100% !important;
    }
    .header{
        width: 100%;
        border-bottom: none;
        .header__right{
            &-avatar{
                width: 30px;
                height: 30px;
                margin-top: 33px;
            }
            .header__cart{
                margin: 0 4px;
                transform: translateX(56px);
                position: absolute;
                top:90%
            }
        }
    }
    .product{
        display: block;
        margin: 0;
        &-img{
            margin-top:-30px;
            margin-right:0px;
            &-main{
                width: 100%;
                img{
                    border-radius: 0 ;
                }
            }
            &-sub{
                width: 100%;
                display: none;
            }
        }
        &-information{
            padding-top:0 ;
            margin:  0 20px ;
            &-name{
                font-size: 30px;
            }
            &-description{
                padding-top: 10px;
            }
            &-price-wrrap{
                display: flex;
                justify-content: space-between;
            }
            &-add-cart{
                display: block;
            }
            &-quantity{
                width: 100%;
                background-color: aqua;
                margin: -20px 0 10px 0;
                &-number{
                    padding: 0 130px;
                }
            }
            &-button{
                margin-bottom: 10px;
            }
        }
    }
}





// Desktop
@media (min-width:415px) and (max-width: 1440px){
    .nav{
        display: none;
    }
    .header{
        .mobile-menu-icon{
            display: none;
        }
    }
}