.wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color: $Clor_primary;
}

.header{
    
}

.header__left{
    display: flex;
    &-menu{


        &-menu-list{
            display: flex;
        }
    }
}