.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e7ec;
}

.header__left{
    display: flex;
    &-logo{
        padding: 42px 20px;
    }
    &-menu{
        margin-left: 16px; 
        &-item{
            display: inline-block; 
            margin: 0 16px;      
        }
        &-item-title{
            display: inline-block;
            padding: 48px 0;
            color : $Black ;
        }
        &-item-title:hover{
            border-bottom: 4px solid $Color_primary;  
            font-weight: 700;
        }
    }
}
.header__right {
    display: flex;
    &-cart{
        color : $Black ; 
        padding: 42px 20px;
        cursor: pointer;
        position: relative;
    }
    &-cart:hover{
    }

    .cart-list{
        width: 360px;
        position: absolute;
        top:90% ; 
        right: 0 ;
        background-color: $White;
        box-shadow: 1px 2px 2px $Blu ;
        &-no-cart-heading{
            font-size: 24px;
            color : $Black ;
            display: block;
            padding: 10px 20px;  
            border-bottom: 1px solid #e8e7ec;
        }
        &-no-cart-message{
            display: inline-block;
            color : $Dark_grayish_blue ;
            font-weight: 700;
            margin : 80px 100px;
        }


    }


    &-avatar{
        width: 40px;
        height: 40px;
        border-radius:40px ;
        border : 1px solid $Color_primary ;
        margin: 28px 10px auto 10px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
}