.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e7ec;
}

.header__left{
    display: flex;
    &-logo{
        padding: 42px 20px;
    }
    &-menu{
        margin-left: 16px; 
        &-item{
            display: inline-block; 
            margin: 0 16px;      
        }
        &-item-title{
            display: inline-block;
            padding: 48px 0;
            color : $Black ;
        }
        &-item-title:hover{
            border-bottom: 4px solid $Color_primary;  
            font-weight: 700;
        }
    }
}
.header__right {
    display: flex;
    &-cart{
        color : $Black ; 
        padding: 42px 20px;
    }
    &-avatar{
        width: 40px;
        height: 40px;
        
        img{
            width: 100%;
            padding: px 20px;
            
        }
    }
}